.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.btn{
  height: 40px;
  margin-top: 3%;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(209, 213, 77);
  border:none;
  border-radius: 8px;
  width: 150px;
}

.item{
  background-color: aliceblue;
  margin:5px;
  padding: 5px;
}
